{% macro device(group) %}
  hostname = "{{ equinix_unique_id }}-{{ group }}"
  plan = "{{ equinix_plans[group] }}"
  project_id = "{{ equinix_project_id }}"
  ssh_private_key_path = "{{ equinix_ssh_private_key_path }}"
  ssh_user = "{{ equinix_ssh_user }}"
  tags = ["heterogeneous", "{{ group }}"]
{% endmacro %}

devices = [
  {
    {{ device(primary_device_group_name) }}
  },
  {
    {{ device(secondary_device_group_name) }}
  }
]
