[flake8]
ignore =
    # E203 and W503 are rules that conflict with Black
    E203,
    W503,

    # FS003 weirdly thinks things are supposed to be f-strings? Seems completely broken
    FS003,

max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s

; Exclude consts and utils __init__ files due to violation of F401 - imported but unused
; TODO - After removing import * from those init files delete this excluded files
exclude =
    src/consts/__init__.py
    src/assisted_test_infra/test_infra/utils/__init__.py
