[flake8]
ignore =
    # E203 and W503 are rules that conflict with Black
    E203,
    W503,

    # B024 abstract base class with no abstract methods
    B024,

    # FS003 weirdly thinks things are supposed to be f-strings? Seems completely broken
    FS003,

    # ignoring cases of methods in abstract class that are left empty (with 'pass')
    # linter prefers having it reimplemented in inheriting classes
    B027,

    # ignoring suggestion of {str!r} instead of '{str}'
    B028,

max-line-length = 120
max-complexity = 18

; Exclude consts and utils __init__ files due to violation of F401 - imported but unused
; TODO - After removing import * from those init files delete this excluded files
exclude =
    venv/
    .venv/
    build/
    .github/
    .idea/
    .code/
    src/consts/__init__.py
    src/assisted_test_infra/test_infra/utils/__init__.py
    .git
    assisted-service/
