build
assisted-service
.idea
.vscode
reports/
*__pycache__*
minikube
*.log
**/RCS/**
*~
.env
capi
sno-bootstrap-manifests
.pip/

# terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform

custom_manifests/
