debugpy==1.6.7
dnspython==2.3.0
filelock==3.12.2
frozendict==2.3.8
ipdb==0.13.13
ipython==8.14.0
jedi==0.18.2
Jinja2===3.1.2
junit-report==0.2.7
kubernetes==26.1.0
libvirt-python==9.4.0
munch==3.0.0
netaddr==0.8.0
netifaces==0.11.0
openshift-client==1.0.18
paramiko==3.2.0
pre-commit==3.3.3
pycharm_remote_debugger==0.1.16
pytest-xdist==3.3.1
pytest==7.4.0
python-dateutil==2.8.2
python-hcl2==4.3.2
python-terraform==0.10.1
pyyaml==6.0
requests==2.28.2
retry==0.9.2
scp==0.14.5
semver==3.0.1
tabulate==0.9.0
tqdm==4.65.0
urllib3==1.26.15
pyvmomi>=7.0.2
waiting>=1.4.1
prompt_toolkit==3.0.38
nutanix-api==0.0.19
pytest-error-for-skips==2.0.2
ansible==8.0.0
oci==2.103.0
