export CLUSTER_NAME=test-infra-oci-{{ lookup('community.general.random_string', special=false, upper=false) }}

export PLATFORM=external
export TF_PLATFORM=oci
export EXTERNAL_PLATFORM_NAME=oci
export EXTERNAL_CLOUD_CONTROLLER_MANAGER=External

export OCI_COMPARTMENT="{{ oci_compartment_id }}"
export OCI_USER="{{ oci_user_id }}"
export OCI_PRIVATE_KEY_PATH="{{ oci_private_key_path_ci_machine }}"
export OCI_PUBLIC_KEY_FINGERPRINT="{{ oci_fingerprint }}"
export OCI_TENANCY="{{ oci_tenancy_id }}"
export OCI_REGION="{{ oci_region }}"

export OCI_INFRASTRUCTURE_ZIP_FILE="{{ oci_infrastructure_zip_file }}"
export OCI_COMPUTE_SHAPE="{{ oci_compute_shape }}"
export OCI_CONTROL_PLANE_SHAPE="{{ oci_control_plane_shape }}"

export BASE_DOMAIN="{{ unique_id }}.{{ oci_dns_zone }}"
export SERVICE_URL="{{ oci_ci_machine_public_ip }}"

export HOST_INSTALLER_ARGS='{"args": ["--append-karg", "console=ttyS0"]}'
export KERNEL_ARGUMENTS='[{"operation": "append", "value": "console=ttyS0"}]'
