unique_id             = "{{ unique_id }}"
private_ssh_key_path  = "{{ private_ssh_key_path }}"
public_ssh_key_path   = "{{ public_ssh_key_path }}"
oci_tenancy_id        = "{{ oci_tenancy_id }}"
oci_user_id           = "{{ oci_user_id }}"
oci_fingerprint       = "{{ oci_fingerprint }}"
oci_region            = "{{ oci_region }}"
oci_private_key_path  = "{{ oci_private_key_path  }}"
oci_compartment_id    = "{{ oci_compartment_id }}"
