# Use graphical install
text

%packages
@^server-product-environment
kexec-tools
openssh-server
perl
cloud-init
%end

services --enabled=sshd

url --url="http://mirror.centos.org/centos/8-stream/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl="http://mirror.centos.org/centos/8-stream/AppStream/x86_64/os/"

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Setting up network interface to DHCP
network --bootproto=dhcp --ipv6=auto --hostname=centos-ks.local --activate

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda

part /boot --fstype=ext4 --size=512
part pv.1 --size=10000 --grow
volgroup vg00 pv.1
logvol swap --vgname=vg00 --recommended --name=swap --fstype=swap
logvol / --vgname=vg00 --percent=100 --grow --name=root --fstype=ext4

# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCuvrWWRK0H9R96/IqN0MQuTC93D8ai8JbeheVnaV3e2I+kCGeOBoDl9r2g7p4f1/jljsd4Rdq2i5qOiGPR06b1Sq4xRJrWbpjmrJpp6DAedyIQsBExkc/ikgCpSQK6qFEs+tshdHkAfSk6PLLb1y3AJx8MnjRrrlci2wnRb4lmrcOZIvQzPSH9bpIIHotE4lVZqlPtDB2YPdDr/mHB4pARWsrZvVPCqJBHXRqRaoFU31VrzK5bmA8Q2KT8xyZgSutLaFpblQq3mAHmH2nbnB2vYFYWmAmTyocvILGNZWjFfnpypsr5kT1DOxsGbC8qdK/Jx18G8S+wYOW70yeBHH3EiN7It+olHd4852XG8oait4EvGWAKPH2vhTZxv/++wu4GAqushx3VUpWihmZvje3jAMbxiRh8A9Lit6vAj3ymtr+QWWI8z2SkKt+CoY8VcjxHyVXT7XFH4x03qipzYERcZ/7w0vNHGFkwZl5h8ZS3aJXiBJMkjLmLAcI8mmecBME= danmanor@fedora"
rootpw packer

%addon com_redhat_kdump --enable --reserve-mb='auto'
selinux --permissive
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot --eject
