# Use graphical install
text

%packages
@^server-product-environment
kexec-tools
openssh-server
perl
cloud-init
%end

services --enabled=sshd

url --url="https://mirror.stream.centos.org/9-stream/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl="https://mirror.stream.centos.org/9-stream/AppStream/x86_64/os/"

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Setting up network interface to DHCP
network --bootproto=dhcp --ipv6=auto --hostname=centos-ks.local --activate

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda

part /boot --fstype=ext4 --size=512
part pv.1 --size=10000 --grow
volgroup vg00 pv.1
logvol swap --vgname=vg00 --recommended --name=swap --fstype=swap
logvol / --vgname=vg00 --percent=100 --grow --name=root --fstype=ext4

# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
sshkey --username=root "SSH_PUBLIC_KEY_PLACEHOLDER"
rootpw packer

%addon com_redhat_kdump --enable --reserve-mb='auto'
selinux --permissive
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot --eject
