# Use graphical install
text

%packages
@^server-product-environment
kexec-tools
openssh-server
perl
cloud-init
%end

services --enabled=sshd

url --url="http://mirror.centos.org/centos/8-stream/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl="http://mirror.centos.org/centos/8-stream/AppStream/x86_64/os/"

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Setting up network interface to DHCP
network --bootproto=dhcp --ipv6=auto --hostname=centos-ks.local --activate

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda

part /boot --fstype=ext4 --size=512
part pv.1 --size=10000 --grow
volgroup vg00 pv.1
logvol swap --vgname=vg00 --recommended --name=swap --fstype=swap
logvol / --vgname=vg00 --percent=100 --grow --name=root --fstype=ext4

# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCWY2zGVj0ZqSHHve7aEfj4un7dGQdOE6qPf4cNlBLLgfp7ig13oT78FiRRvke2E10dNzz63BT0tgQSm6yN+zb1P3OChB8Wtt+enfmfZhJ11NXoKUwBdqOHmdQRGx6qsA1GjGU2Qb4an7ojwP+PBBhS4fNPTsVp8ggYxv5exSh9JiGhqyBY7sfMAQqAttDv31OwmON7mFmOO4Npc0UW0GaVUkcvMY4AR4lPArQYkrXZvAqEtGYoc6JnLVCtr1QSdNsQxft0FLsUkjCiOhPR281lhrVPfprOfz0yMQBoJsOMO0Io/DHYzVBv8+zPCHdPVjpR8f0I3Hb33W1CJ7ingkp9Ds5+Qi6EL3GZ4v/VmR4WD+aXSiuMabPeIzjUukJk7DqzUa3ziBWAkS1dQosCsDoKy4Gm/jH1B70Lzbq+aiPY79ilTBajP9rA2GhgVuuJ1uBtKyObjouiBTvzeBrSZcTCjuxfOfmu++5/UKiTzlIma6Igvrbjv6Sc/piOdpIr3vM= assisted_nutanix_ci@redhat.com"
rootpw packer

%addon com_redhat_kdump --enable --reserve-mb='auto'
selinux --permissive
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot --eject
