- name: Look for OCI provider binaries
  ansible.builtin.find:
    paths: "{{ oci_terraform_workdir }}/.terraform/providers"
    file_type: file
    patterns: "terraform-provider-oci_*"
    recurse: true
  register: found_providers

- name: Select OCI provider binary
  ansible.builtin.set_fact:
    oci_provider_bin: "{{ (found_providers.files | first).path }}"

- name: Create temporary directory where resources will be imported as terraform files
  ansible.builtin.tempfile:
    state: directory
    suffix: terraform
  register: terraform_working_tmp_dir
  when: terraform_working_dir is not defined

- name: Set terraform_working_dir
  ansible.builtin.set_fact:
    terraform_working_dir: "{{ terraform_working_tmp_dir.path }}"
  when: terraform_working_dir is not defined

- name: Import OCI resources
  ansible.builtin.command:
    cmd: >-
      {{ oci_provider_bin }}
        -command=export
        -compartment_id={{ oci_compartment_id }}
        -output_path=.
        -services=core,load_balancer,identity,object_storage,tagging
        -generate_state
    creates: "terraform.tfstate"
    chdir: "{{ terraform_working_dir }}"
  check_mode: false

- name: Load terraform state
  ansible.builtin.command:
    cmd: terraform show -json
    chdir: "{{ terraform_working_dir }}"
  register: terraform_state
  check_mode: false
  changed_when: false

- name: Convert terraform state to dict
  ansible.builtin.set_fact:
    terraform_resources: "{{ (terraform_state.stdout | from_json)['values']['root_module']['resources'] | default([]) }}"
    excluded_resources: []

- name: Exclude types from terraform state
  ansible.builtin.set_fact:
    excluded_resources: "{{ excluded_resources + [item] }}"
  loop: "{{ terraform_resources }}"
  when: item.type in excluded_types

- name: Exclude recently created resources from terraform state
  ansible.builtin.set_fact:
    excluded_resources: "{{ excluded_resources + [item] }}"
  loop: "{{ terraform_resources }}"
  when:
    - item["values"]["time_created"] is defined
    - >-
        (
          now(utc=true).replace(tzinfo=None)
          -
          (item["values"]["time_created"] | ansible.builtin.to_datetime("%Y-%m-%d %H:%M:%S.%f %z %Z")).replace(tzinfo=None)
        ).total_seconds() / 3600 < expired_after_hours

- name: Remove excluded resources from terraform state
  ansible.builtin.command:
    cmd: terraform state rm {{ excluded_resources | json_query('[].address') | unique | join(" ") }}
    chdir: "{{ terraform_working_dir }}"
  when: excluded_resources | length > 0
  changed_when: true

- name: Destroy expired resources
  community.general.terraform:
    project_path: "{{ terraform_working_dir }}"
    state: absent
  register: result
  until: "result is not failed"
  retries: 10
  delay: 10
