[all:vars]

###############################################################################
# Required configuration variables for Assisted Install Installations         #
###############################################################################

# Base domain, i.e. example.com
domain="example.com"

# Name of the cluster, i.e. openshift
cluster_name="openshift"

# Contents of the pull-secret.txt file
pull_secret="{{ lookup('file', './pull_secret.txt') }}"

# Provide Remote Service URL and port
#e.g. remote_service_url: "http://example.com:6000
remote_service_url=""

# Version of the openshift-installer, undefined or empty results in the playbook failing.
openshift_version="4.5"

# (Optional) Assign specific Cluster ID
#cluster_id=""

# (Optional) Assign Proxy URL
#proxy_url=""

# Inventory to create VMware VMs
#vcenter_hostname="vcsa67.example.com"
#vcenter_username="administrator@vsphere.local"
#vcenter_password="password"
#vcenter_datacenter="datacenter-name"
#vcenter_datastore="datastore-name"
#vcenter_cluster="cluster-name"

# Inventory to create oVirt VMs
#ovirt_url="https://ovirt.example.com/ovirt-engine/api"
#ovirt_username="admin@internal"
#ovirt_password=""
#ovirt_cafile=""
#ovirt_insecure="true"
#ovirt_cluster="Default"
#ovirt_storage_domain=""
#ovirt_network="ovirtmgmt"
#ovirt_template=""
#ovirt_vm_os="rhcos_x64"
#ovirt_vm_type="server"
#ovirt_vm_cpu_cores="8"
#ovirt_vm_cpu_sockets="1"
#ovirt_vm_memory="16 GiB"
#ovirt_vm_disk_size="120 GiB"

[assisted_installer]
assisted-installer.example.com

#Options for vendor include: Dell, HPE, SuperMicro, VMware, oVirt
# Master nodes
[masters]
master-0 role=master bmc_user=admin bmc_password=password bmc_address=192.168.1.1 vendor=Dell
master-1 role=master bmc_user=admin bmc_password=password bmc_address=192.168.1.2 vendor=Dell
master-2 role=master bmc_user=admin bmc_password=password bmc_address=192.168.1.3 vendor=Dell
# master-0 role=master vendor=VMware
# master-1 role=master vendor=VMware
# master-2 role=master vendor=VMware

# master-0 role=master vendor=oVirt
# master-1 role=master vendor=oVirt
# master-2 role=master vendor=oVirt

# master-0 role="master" vendor="oVirt" ovirt_vm_cpu_cores="4" ovirt_vm_memory="12 GiB" ovirt_storage_domain="sd-1" ovirt_network="network-1"
# master-1 role="master" vendor="oVirt" ovirt_vm_cpu_cores="6" ovirt_vm_memory="16 GiB" ovirt_storage_domain="sd-2" ovirt_network="network-2"
# master-2 role="master" vendor="oVirt" ovirt_vm_cpu_cores="8" ovirt_vm_memory="32 GiB" ovirt_storage_domain="sd-3" ovirt_network="network-3"

#[masters:vars]
#role="master"
#vendor="oVirt"
#ovirt_vm_cpu_cores="8"
#ovirt_vm_memory="16 GiB"
#ovirt_storage_domain="sd-1"
#ovirt_network="network-1"

# Worker nodes
[workers]
worker-0 role=worker bmc_user=admin bmc_password=password bmc_address=192.168.1.4 vendor=HPE
worker-1 role=worker bmc_user=admin bmc_password=password bmc_address=192.168.1.5 vendor=HPE
