[all:vars]

###############################################################################
# Required configuration variables for Assisted Install Installations         #
###############################################################################

# Base domain, i.e. example.com
domain="example.com"

# Name of the cluster, i.e. openshift
cluster_name="openshift"

# Contents of the pull-secret.txt file
pull_secret="{{ lookup('file', './pull_secret.txt') }}"

# Version of the openshift-installer, undefined or empty results in the playbook failing.
openshift_version="4.5"

# (Optional) Assign specific Cluster ID
#cluster_id=""

# (Optional) Assign Proxy URL
#proxy_url=""

[assisted_installer]
assisted-installer.example.com

#Options for vendor include: Dell, HPE, SuperMicro
# Master nodes
[masters]
master-0 role=master bmc_user=admin bmc_password=password bmc_address=192.168.1.1 vendor=Dell
master-1 role=master bmc_user=admin bmc_password=password bmc_address=192.168.1.2 vendor=Dell
master-2 role=master bmc_user=admin bmc_password=password bmc_address=192.168.1.3 vendor=Dell

# Worker nodes
[workers]
worker-0 role=worker bmc_user=admin bmc_password=password bmc_address=192.168.1.4 vendor=HPE
worker-1 role=worker bmc_user=admin bmc_password=password bmc_address=192.168.1.5 vendor=HPE
