[all:vars]

###############################################################################
# Required configuration variables for Assisted Install Installations         #
###############################################################################

# Base domain, i.e. example.com
domain="example.com"

# Name of the cluster, i.e. openshift
cluster_name="openshift"

# Contents of the pull-secret.txt file
pull_secret="{{ lookup('file', './pull_secret.txt') }}"

# Version of the openshift-installer, undefined or empty results in the playbook failing.
openshift_version="4.5"

[assisted_installer]
assisted-installer.example.com

# Master nodes (<master-name>.<cluster-name>.<domain>)
[masters]
master-0.openshift.example.com
master-1.openshift.example.com
master-2.openshift.example.com

# Worker nodes (<worker-name>.<cluster-name>.<domain>)
[workers]
worker-0.openshift.example.com
worker-1.openshift.example.com
worker-2.openshift.example.com
